In [1]:
import pandas as pd
import zipfile
import json
from tqdm.auto import tqdm
import os
import sys
util_dir = os.path.abspath('../compass/utils')
sys.path.append(util_dir)
import utils

In [2]:
os.makedirs('jsonzip', exist_ok = True)
os.makedirs('output', exist_ok = True)

In [3]:
projects = input('Project(s): ').lower().strip()
project_list = utils.format_project_list(projects)

Project(s):  epsd2/literary, dsst

In [4]:
project_list = utils.oracc_download(project_list)

Saving http://oracc.org/dsst/json/dsst.zip as jsonzip/dsst.zip.

dsst: 0.00B [00:00, ?B/s]

Saving http://oracc.org/epsd2/literary/json/epsd2-literary.zip as jsonzip/epsd2-literary.zip.

epsd2/literary: 0.00B [00:00, ?B/s]

In [5]:
def parsejson(text, meta_d):
    lemmas = []
    for JSONobject in text["cdl"]:
        if "cdl" in JSONobject: 
            lemmas.extend(parsejson(JSONobject, meta_d))
        if "label" in JSONobject: 
            meta_d["label"] = JSONobject['label']   # `label` is the line number; it stays constant until
                                                    # the process move to a new line
        
        if JSONobject.get("type") == "field-start": # this is for sign lists, identifying fields such as
            meta_d["field"] = JSONobject["subtype"]  # sign, pronunciation, translation.
        elif JSONobject.get("type") == "field-end":
            meta_d.pop("field", None)                           # remove the key "field" to prevent it from being copied 
                                                              # to all subsequent lemmas (which may not have fields)
        if "f" in JSONobject:
            lemma = JSONobject["f"]
            lemma["id_word"] = JSONobject["ref"]
            lemma['label'] = meta_d["label"]
            lemma["id_text"] = meta_d["id_text"]
            if "field" in meta_d:
                lemma["field"] = meta_d["field"]
            lemmas.append(lemma)
    return lemmas

In [6]:
lemm_l = []
meta_d = {"label": None, "id_text": None}
for project in project_list:
    file = f'jsonzip/{project.replace("/", "-")}.zip'
    try:
        zip_file = zipfile.ZipFile(file)       # create a Zipfile object
    except:
        errors = sys.exc_info() # get error information
        print(file), print(errors[0]), print(errors[1]) # and print it
        continue
    files = zip_file.namelist()     # list of all the files in the ZIP
    files = [name for name in files if "corpusjson" in name and name[-5:] == '.json']                                                                                                  #that holds all the P, Q, and X numbers.
    for filename in tqdm(files, desc = project):       #iterate over the file names
        id_text = project + filename[-13:-5] # id_text is, for instance, blms/P414332
        meta_d["id_text"] = id_text
        try:
            text_json_string = zip_file.read(filename).decode('utf-8')         #read and decode the json file of one particular text
            data_json = json.loads(text_json_string)                # make it into a json object (essentially a dictionary)
            lemm_l.extend(parsejson(data_json, meta_d))     # and send to the parsejson() function
        except:
            e = sys.exc_info() # get error information
            print(filename), print(e[0]), print(e[1]) # and print it
    zip_file.close()

dsst:   0%|          | 0/535 [00:00<?, ?it/s]

epsd2/literary:   0%|          | 0/915 [00:00<?, ?it/s]

In [7]:
words_df = pd.DataFrame(lemm_l)
words_df = words_df.fillna('')   # replace NaN (Not a Number) with empty string
words_df

,lang,form,delim,gdl,id_word,label,id_text,cf,gw,sense,norm0,pos,epos,base,morph,cont,norm,aform,field,stem
0,sux,edin-≈°e‚ÇÉ,,"[{'v': 'edin', 'id': 'P356733.3.1.0', 'break':...",P356733.3.1,o 1‚Äô,dsst/P356733,,,,,,,,,,,,,
1,sux,mu-da,,"[{'v': 'mu', 'id': 'P356733.3.2.0', 'delim': '...",P356733.3.2,o 1‚Äô,dsst/P356733,,,,,,,,,,,,,
2,sux,igi,,"[{'v': 'igi', 'id': 'P356733.3.3.0', 'break': ...",P356733.3.3,o 1‚Äô,dsst/P356733,,,,,,,,,,,,,
3,sux,hu-mu-de‚ÇÉ-du‚Çà,,"[{'v': 'hu', 'id': 'P356733.3.4.0', 'break': '...",P356733.3.4,o 1‚Äô,dsst/P356733,,,,,,,,,,,,,
4,sux,{≈ãe≈°}al-e,,"[{'det': 'semantic', 'pos': 'pre', 'seq': [{'v...",P356733.4.1,o 2‚Äô,dsst/P356733,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262727,sux,rib-x,,"[{'v': 'rib', 'id': 'P346641.8.3.0', 'break': ...",P346641.8.3,6',epsd2/literary/P346641,,,,,u,,,,,,,,
262728,sux,≈°i-in-x,,"[{'v': '≈°i', 'id': 'P346641.8.4.0', 'delim': '...",P346641.8.4,6',epsd2/literary/P346641,,,,,u,,,,,,,,
262729,sux,x,,"[{'x': 'ellipsis', 'id': 'P346641.9.1.0', 'bre...",P346641.9.1,7 æ,epsd2/literary/P346641,,,,,u,,,,,,,,
262730,sux,x,,"[{'v': 'x', 'id': 'P346641.9.2.0', 'break': 'd...",P346641.9.2,7 æ,epsd2/literary/P346641,,,,,u,,,,,,,,
262731,sux,x,,"[{'x': 'ellipsis', 'id': 'P346641.9.3.0', 'bre...",P346641.9.3,7 æ,epsd2/literary/P346641,,,,,u,,,,,,,,

In [8]:
findreplace = {' ' : '-', ',' : ''}
words_df = words_df.replace({'gw' : findreplace, 'sense' : findreplace}, regex=True)

In [9]:
words_df = words_df[words_df.lang.str.startswith('sux')]

In [10]:
keep = ['form', 'cf', 'gw', 'pos', 'norm0', 'base', 'id_text']
words_df = words_df[keep]

In [11]:
dsst_id = [idtext[-7:] for idtext in words_df['id_text'] if idtext.startswith('dsst')]
dsst_id = list(set(dsst_id))
duplicates = [idtext for idtext in words_df['id_text'] if idtext[-7:] in dsst_id]
duplicates = list(set(duplicates))
duplicates = [idtext for idtext in duplicates if not idtext.startswith('dsst')]

In [12]:
words_df = words_df[~words_df.id_text.isin(duplicates)]

In [13]:
words_df

                 form cf gw pos norm0 base                 id_text
0            edin-≈°e‚ÇÉ                                 dsst/P356733
1               mu-da                                 dsst/P356733
2                 igi                                 dsst/P356733
3       hu-mu-de‚ÇÉ-du‚Çà                                 dsst/P356733
4           {≈ãe≈°}al-e                                 dsst/P356733
...               ... .. ..  ..   ...  ...                     ...
262727          rib-x         u             epsd2/literary/P346641
262728        ≈°i-in-x         u             epsd2/literary/P346641
262729              x         u             epsd2/literary/P346641
262730              x         u             epsd2/literary/P346641
262731              x         u             epsd2/literary/P346641

[259788 rows x 7 columns]

In [14]:
words_l = []
separators = ['{', '}', '-']
separators2 = ['.', '+', '|']
operators = ['&', '%', '@', '√ó']
for e in tqdm(words_df.form):
    word = []
    if '1(≈°ar‚ÇÇ{gal})' in e: # this cheating but it seems to work (appears in SKL 38)
            e = e.replace('1(≈°ar‚ÇÇ{gal})', '1(≈°ar‚ÇÇ)-gal')
    for s in separators: # first split word into signs   
        e = e.replace(s, ' ').strip()
    s_l = e.split()
    for sign in s_l:
        if sign[0].isdigit(): # 1(ge≈°‚ÇÇ), 2(DI≈†), etc.
            sign = sign.lower()
        elif sign[-1] == ')': # qualified sign - get only the qualifier
            stack = []  # |GI≈†√ó(GI≈†%GI≈†)|(LAK277) becomes LAK277
            ind = {}    # LAK277(|GI≈†√ó(GI≈†%GI≈†)|) becomes |GI≈†√ó(GI≈†%GI≈†)|
            for i, c in reversed(list(enumerate(sign))):
                if c == ')':
                    stack.append(i)
                if c == '(':
                    ind[stack.pop()] = i   # find the opening parens that belongs to the closing parens at position -1    
            start = ind[len(sign)-1]   # this line fails on 1(≈°ar‚ÇÇ{gal}) in SKL.
            t = sign[start+1:-1]
            if t.isupper(): #leave 1(di≈°) etc. alone
                sign = t
            
        if '|' in sign:  # separate |DU.DU| and |DU+DU| into its components but not |DU&DU|
                        # and also not |DU.DU&DU|
            flag = False
            for o in operators:
                if o in sign:
                    flag = True
            if not flag:
                for s in separators2:
                    sign = sign.replace(s, ' ').strip() 
                sign_l = sign.split()
                word.extend(sign_l)
                continue
        elif "+" in sign:  # + as marker of gloss
            sign = sign.replace('+', ' ').strip()
            sign_l = sign.split()
            word.extend(sign_l)
            continue
        word.append(sign)
    words_l.append(word)

  0%|          | 0/259788 [00:00<?, ?it/s]

In [15]:
words_df['signs'] = words_l

In [16]:
o = pd.read_pickle('ogsl.p', compression = None)

In [17]:
val = list(o["value"])
utf = list(o["utf8"])
names = list(o["name"])

In [18]:
d = dict(zip(names, utf))
d2 = dict(zip(val,names))

In [19]:
sign_l = []
for index, row in words_df.iterrows():
    for sign in row['signs']:
        n = [sign, row['id_text']]
        sign_l.append(n)

In [20]:
signs_df = pd.DataFrame(sign_l, columns = ['value', 'id_text'])
signs_df['sign_name'] = [d2.get(s.lower(), s) for s in signs_df.value]
signs_df['utf8'] = [d.get(n, n) for n in signs_df.sign_name]
signs_df = signs_df[['value', 'sign_name', 'utf8', 'id_text']]
signs_df = signs_df[signs_df.sign_name != 'X']
signs_df

       value sign_name utf8                 id_text
0       edin      EDIN    íÇî            dsst/P356733
1        ≈°e‚ÇÉ       E≈†‚ÇÇ    íÇ†            dsst/P356733
2         mu        MU    íà¨            dsst/P356733
3         da        DA    íÅï            dsst/P356733
4        igi       IGI    íÖÜ            dsst/P356733
...      ...       ...  ...                     ...
575823   gi‚ÇÑ       GI‚ÇÑ    íÑÑ  epsd2/literary/P346641
575824  gin‚Çá      DIM‚ÇÇ    íÅ∂  epsd2/literary/P346641
575825   rib       KAL    íÜó  epsd2/literary/P346641
575827    ≈°i       IGI    íÖÜ  epsd2/literary/P346641
575828    in        IN    íÖî  epsd2/literary/P346641

[527130 rows x 4 columns]

In [21]:
with open('aliases.txt') as a:
    alias = a.read().splitlines()

In [22]:
alias_d = {}

In [23]:
for line in alias:
    aliases = line.split()
    for value in aliases[1:]:
        alias_d[value] = aliases[0]

In [24]:
signs_df['value'] = [alias_d.get(value, value) for value in signs_df.value] 
signs_df

       value sign_name utf8                 id_text
0       edin      EDIN    íÇî            dsst/P356733
1        ≈°e‚ÇÉ       E≈†‚ÇÇ    íÇ†            dsst/P356733
2       ≈ãu‚ÇÅ‚ÇÄ        MU    íà¨            dsst/P356733
3         da        DA    íÅï            dsst/P356733
4        igi       IGI    íÖÜ            dsst/P356733
...      ...       ...  ...                     ...
575823   gi‚ÇÑ       GI‚ÇÑ    íÑÑ  epsd2/literary/P346641
575824  gin‚Çá      DIM‚ÇÇ    íÅ∂  epsd2/literary/P346641
575825   rib       KAL    íÜó  epsd2/literary/P346641
575827    ≈°i       IGI    íÖÜ  epsd2/literary/P346641
575828    in        IN    íÖî  epsd2/literary/P346641

[527130 rows x 4 columns]

In [25]:
SP_collections = {'Q000795' : 'SP1', 
            'Q000796' : 'SP2+6',
            'Q000797' : 'SP3',
            'Q000798' : 'SP4',
            'Q000799' : 'SP5',
            'Q000800' : 'SP7',
            'Q000801' : 'SP8',
            'Q000802' : 'SP9',
            'Q000803' : 'SP10', 
            'Q000804' : 'SP11',
            'Q000805' : 'SP12',
            'Q000806' : 'SP13',
            'Q000807' : 'SP14',
            'Q000808' : 'SP15', 
            'Q000809' : 'SP16',
            'Q000810' : 'SP17',
            'Q000811' : 'SP18',
            'Q000812' : 'SP19',
            'Q000813' : 'SP21',
            'Q000814' : 'SP22',
            'Q000815' : 'SP23',
            'Q000816' : 'SP24',
            'Q000817' : 'SP25',
            'Q000818' : 'SP26',
            'Q000819' : 'SP27',
            'Q000820' : 'SP28',
            'Q000821' : 'SP_Nippur',
            'Q000822' : 'SP_Susa',
            'Q000823' : 'SP_Ur',
            'Q000824' : 'SP_Uruk',
            'Q000825' : 'SP_Unknown'}

In [26]:
signs_df['type'] = ['prov' if item[-7:] in SP_collections.keys() else 'lit' for item in signs_df.id_text  ]

In [27]:
signs_df

       value sign_name utf8                 id_text type
0       edin      EDIN    íÇî            dsst/P356733  lit
1        ≈°e‚ÇÉ       E≈†‚ÇÇ    íÇ†            dsst/P356733  lit
2       ≈ãu‚ÇÅ‚ÇÄ        MU    íà¨            dsst/P356733  lit
3         da        DA    íÅï            dsst/P356733  lit
4        igi       IGI    íÖÜ            dsst/P356733  lit
...      ...       ...  ...                     ...  ...
575823   gi‚ÇÑ       GI‚ÇÑ    íÑÑ  epsd2/literary/P346641  lit
575824  gin‚Çá      DIM‚ÇÇ    íÅ∂  epsd2/literary/P346641  lit
575825   rib       KAL    íÜó  epsd2/literary/P346641  lit
575827    ≈°i       IGI    íÖÜ  epsd2/literary/P346641  lit
575828    in        IN    íÖî  epsd2/literary/P346641  lit

[527130 rows x 5 columns]

In [28]:
proverbs = signs_df[signs_df.type == 'prov']

In [29]:
literary = signs_df[signs_df.type != 'prov']

In [30]:
proverbs[['value', 'sign_name']].value_counts(ascending=True).reset_index(name='count')

      value          sign_name  count
0      hul‚ÇÉ          |GI≈†%GI≈†|      1
1     sag‚ÇÅ‚ÇÄ        |IGI.ERIN‚ÇÇ|      1
2        U‚Çà  |LAGAB√ó(GUD&GUD)|      1
3      sagi    |SILA‚ÇÉ.≈†U.GABA|      1
4    saga‚ÇÅ‚ÇÅ                KIN      1
..      ...                ...    ...
924      nu                 NU    627
925      ba                 BA    698
926    ≈ãu‚ÇÅ‚ÇÄ                 MU    816
927       e                  E    996
928       a                  A   1011

[929 rows x 3 columns]

In [31]:
literary[['value', 'sign_name']].value_counts(ascending=True).reset_index(name='count')

       value sign_name  count
0        ·π≠a‚ÇÇ        TA      1
1     LU‚ÇÇ.NE    LU‚ÇÇ.NE      1
2      su(2)     su(2)      1
3        MAN     |U.U|      1
4       si‚ÇÇ‚ÇÉ       GUL      1
...      ...       ...    ...
2478      na        NA  10990
2479      ba        BA  11004
2480       e         E  12149
2481    ≈ãu‚ÇÅ‚ÇÄ        MU  16944
2482       a         A  17031

[2483 rows x 3 columns]

In [32]:
proverbs_s = proverbs.sample(n = 10000)
literary_s = literary.sample(n=10000)

In [33]:
proverbs_s[['value', 'sign_name']].value_counts(ascending=True).reset_index(name='count')

          value   sign_name  count
0             1           1      1
1    zi‚Çì(IGI@g)  zi‚Çì(IGI@g)      1
2          gug‚ÇÇ         LU‚ÇÉ      1
3           zur        AMAR      1
4        |KA√óA|      |KA√óA|      1
..          ...         ...    ...
698          na          NA    205
699          ba          BA    235
700        ≈ãu‚ÇÅ‚ÇÄ          MU    287
701           e           E    355
702           a           A    360

[703 rows x 3 columns]

In [34]:
literary_s[['value', 'sign_name']].value_counts(ascending=True).reset_index(name='count')

       value          sign_name  count
0        $NI                $NI      1
1     zalag‚ÇÇ              ERIN‚ÇÇ      1
2     dubsig                IL‚ÇÇ      1
3    si≈°kur‚ÇÇ  |AMAR√ó≈†E.AMAR√ó≈†E|      1
4       ziz‚ÇÇ               ZIZ‚ÇÇ      1
..       ...                ...    ...
760       ba                 BA    237
761       na                 NA    238
762        e                  E    270
763     ≈ãu‚ÇÅ‚ÇÄ                 MU    351
764        a                  A    357

[765 rows x 3 columns]

In [35]:
SP1 = signs_df[signs_df.id_text.str.contains('Q000795')]

In [36]:
SP1

        value sign_name utf8                 id_text  type
195933   ni≈ã‚ÇÇ       GAR    íÉª  epsd2/literary/Q000795  prov
195934     gi        GI    íÑÄ  epsd2/literary/Q000795  prov
195935     na        NA    íàæ  epsd2/literary/Q000795  prov
195936     da        DA    íÅï  epsd2/literary/Q000795  prov
195937      a         A    íÄÄ  epsd2/literary/Q000795  prov
...       ...       ...  ...                     ...   ...
198710     ta        TA    íã´  epsd2/literary/Q000795  prov
198711   ≈°ar‚ÇÇ      ≈†AR‚ÇÇ    íäπ  epsd2/literary/Q000795  prov
198713    hi‚ÇÇ       GAN    íÉ∂  epsd2/literary/Q000795  prov
198714      a         A    íÄÄ  epsd2/literary/Q000795  prov
198716  MUNUS       SAL    íä©  epsd2/literary/Q000795  prov

[2564 rows x 5 columns]

In [37]:
SP1[['value', 'sign_name']].value_counts(ascending=True).reset_index(name='count')

     value sign_name  count
0        1         1      1
1    engar      APIN      1
2     er‚ÇÅ‚ÇÄ        DU      1
3      er‚ÇÇ   |A.IGI|      1
4     e≈ãir      EGIR      1
..     ...       ...    ...
375     ba        BA     67
376      e         E     68
377   ≈ãu‚ÇÅ‚ÇÄ        MU     70
378     nu        NU     72
379      a         A     80

[380 rows x 3 columns]

In [38]:
LiEB = signs_df[signs_df.id_text.str.contains("Q000482")]

In [39]:
LiEB[['value', 'sign_name']].value_counts(ascending=True).reset_index(name='count')

      value sign_name  count
0    1(di≈°)       DI≈†      1
1      i≈°ib        ME      1
2        i≈°        I≈†      1
3    isimu‚ÇÇ       GUL      1
4        ir        IR      1
..      ...       ...    ...
188      ki        KI     18
189    ≈ãu‚ÇÅ‚ÇÄ        MU     18
190      li        LI     18
191      en        EN     26
192       d        AN     36

[193 rows x 3 columns]

In [40]:
decad = {'Q000395' : 'Shulgi A',
        'Q000481' : 'Lipit-Eshtar A',
        'Q000778' : 'Song of the Hoe',
        'Q000623' : 'Inana B',
        'Q000619' : 'Enlil A',
        'Q000751' : 'Kesh Temple Hymn',
        'Q000335' : "Enki's Journey to Nippur",
        'Q000339' : 'Inana and Ebih',
        'Q000736' : 'Nungal A',
        'Q000365' : 'Gilgamesh and Huwawa A'}

In [41]:
signs_decad = signs_df[signs_df.id_text.str[-7:].isin(decad.keys())]

In [42]:
signs_decad

        value sign_name utf8                 id_text type
160736  lugal     LUGAL    íàó  epsd2/literary/Q000481  lit
160737  munus       SAL    íä©  epsd2/literary/Q000481  lit
160738   dug‚ÇÑ        KA    íÖó  epsd2/literary/Q000481  lit
160739     ga        GA    íÇµ  epsd2/literary/Q000481  lit
160740   ≈°ag‚ÇÑ       ≈†A‚ÇÉ    íäÆ  epsd2/literary/Q000481  lit
...       ...       ...  ...                     ...  ...
567560      d        AN    íÄ≠  epsd2/literary/Q000335  lit
567561     en        EN    íÇó  epsd2/literary/Q000335  lit
567562     ki        KI    íÜ†  epsd2/literary/Q000335  lit
567563    zag       ZAG    íç†  epsd2/literary/Q000335  lit
567564  munus       SAL    íä©  epsd2/literary/Q000335  lit

[17942 rows x 5 columns]

In [43]:
signs_decad[['value', 'sign_name']].value_counts(ascending=True).reset_index(name='count')

       value          sign_name  count
0    si≈°kur‚ÇÇ  |AMAR√ó≈†E.AMAR√ó≈†E|      1
1        sim                NAM      1
2      lulim    |GIR‚ÇÉ√ó(LU.IGI)|      1
3        dab                DIB      1
4     idigna         |GU‚ÇÇ.GAR‚ÇÉ|      1
..       ...                ...    ...
716       an                 AN    380
717       en                 EN    418
718       ba                 BA    422
719        a                  A    549
720     ≈ãu‚ÇÅ‚ÇÄ                 MU    551

[721 rows x 3 columns]

In [51]:
dec = []
for comp in decad.keys():
    c = signs_df[signs_df.id_text.str[-7:] == comp]
    l = len(c)
    s = len(set(c.sign_name))
    v = len(set(c.value))
    co = [decad[comp], l, round(s/l*100, 2), round(v/l*100, 2)]
    dec.append(co)

In [54]:
columns = ["composition", "length", "signs (%)","values (%)"]
pd.DataFrame(dec, columns=columns)

                composition  length  signs (%)  values (%)
0                  Shulgi A    1261      16.26       22.05
1            Lipit-Eshtar A    1086      17.96       22.74
2           Song of the Hoe    1207      15.91       19.80
3                   Inana B    1721      12.09       15.63
4                   Enlil A    1841      13.04       17.22
5          Kesh Temple Hymn    1740      12.01       14.89
6  Enki's Journey to Nippur    1368      14.62       18.64
7            Inana and Ebih    2111      11.27       14.50
8                  Nungal A    1737      12.49       16.52
9    Gilgamesh and Huwawa A    3870       6.33        9.20

In [55]:
SP = []

In [57]:
for comp in SP_collections:
    c = signs_df[signs_df.id_text.str[-7:] == comp]
    l = len(c)
    s = len(set(c.sign_name))
    v = len(set(c.value))
    co = [SP_collections[comp], l, round(s/l*100, 2), round(v/l*100, 2)]
    SP.append(co)

In [59]:
columns = ["composition", "length", "signs (%)","values (%)"]
pd.DataFrame(SP, columns=columns)

   composition  length  signs (%)  values (%)
0          SP1    2564      10.10       14.82
1        SP2+6    2922       9.24       13.48
2          SP3    2817       9.94       15.55
3          SP4     643      25.19       31.88
4          SP5    2296      10.02       14.11
5          SP7     932      20.92       27.90
6          SP8    1047      18.62       24.83
7          SP9     563      25.22       33.21
8         SP10     177      49.72       53.67
9         SP11     678      21.53       27.88
10        SP12     579      25.39       31.09
11        SP13    1138      15.11       20.56
12        SP14     511      27.59       32.88
13        SP15     530      26.98       34.53
14        SP16     469      27.72       37.10
15        SP17     241      43.15       50.21
16        SP18     195      45.13       49.74
17        SP19     605      26.28       33.55
18        SP21     315      31.75       39.68
19        SP22     884      19.68       27.15
20        SP23     371      29.11       38.54
21        SP24     173      44.51       52.60
22        SP25     327      37.00       41.90
23        SP26     588      25.68       32.14
24        SP27     210      40.95       49.05
25        SP28     311      38.26       47.27
26   SP_Nippur    1279      17.28       25.65
27     SP_Susa     446      27.58       36.32
28       SP_Ur    3922       7.32       11.47
29     SP_Uruk     158      51.27       59.49
30  SP_Unknown    1508      14.72       22.15